<?xml version="1.0" encoding="UTF-8"?>
<!-- 开发日志配置：仅控制台 classic，不写文件（本地开发调试用） -->
<configuration>
    <!-- 日志等级：默认 INFO（本地调试可改为 DEBUG），可在 application-*.yml 中覆盖 -->
    <springProperty scope="context" name="logLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="logModule" source="logging.module" defaultValue="dusk-module-workflow"/>
    <include resource="conf/logback-base.xml"/>

    <!-- ======================= root ======================= -->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
